/*Carousel y presentacion*/
/*Variables*/

//M is for Mobile, T is for tablet and D is for Desktop

//Tamanos carousel
$carouselAnchoM: 320px;
$carouselAltoM: 250px;
$carouselAnchoT: 768px;
$carouselAltoT: 480px;
$carouselAnchoD: 1024px;
$carouselAltoD: 640px;
$itemAltura: 100vh;
$itemAlturaMin: 350px;

//Presentacion
$color: #FFF;
$presentacionTamanoFuenteM: 25px;
$presentacionTamanoFuenteT: 30px;
$presentacionTamanoFuenteD: 35px;
$presentacionPesoFuente: 550;
$presentacionMargenIzquierdoM: 5px;
$presentacionMargenIzquierdoT: 7px;
$presentacionAnchoM: 300px;
$presentacionAnchoT: 750px;
$presentacionAnchoD: 1000px;

.carousel{
    width: $carouselAnchoM;
    height: $carouselAltoM;
}

.carousel img {margin: auto;}

.carousel-item {
    height: $itemAltura;
    min-height: $itemAlturaMin;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .presentacion{
    color: $color;
    display: flex;
    font-size: $presentacionTamanoFuenteM;
    font-weight: $presentacionPesoFuente;
    display: flex;
    justify-content: center;
    margin-left: $presentacionMargenIzquierdoM;
    width: $presentacionAnchoM;
    margin-top: 70px;
}

  @media only screen and (min-width: 768px){
    .carousel{
        width: $carouselAnchoT;
        height: $carouselAltoT;
    }

    .presentacion{
      font-size: $presentacionTamanoFuenteT;
      margin-left: $presentacionMargenIzquierdoT;
      width: $presentacionAnchoT;
  }

  }

  @media only screen and (min-width: 1024px){
    .carousel{
        width: $carouselAnchoD;
        height: $carouselAltoD;
    }

    .presentacion{
      font-size: $presentacionTamanoFuenteD;
      width: $presentacionAnchoD;
  }
  }