/*Contacto*/
/*Contacto*/

@import "colores";

//Variables

$maxAncho: 100%;

$border: 0;
$borderRadius: 7px;

//input & text area usan las mismas variables
$backgroundColor: rgba(255, 255, 255, 0.5);
$margin: 20px 0;
$padding: 7px;
$fuente: 16px;
$fuenteD: 20px;

.container__contacto{
    color: $white;
    display: flex;
    flex-direction: column;
  }

.contacto{
    width: $maxAncho;
    min-height: 400px;
    background-image: url("../images/fondos/contacto.jpg");
    background-size: 100vw 100vh;
    background-attachment: fixed;
    padding-top: 50px;
}

.contacto__form{
    width: 300px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: $borderRadius;
}

.contacto__titulo{
    color: $black;
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}

.contacto__input{
    border: $border;
    border-radius: $borderRadius;
    background-color: $backgroundColor;
    width: $maxAncho;
    margin: $margin;
    padding: $padding;
    box-sizing: border-box;
    font-size: $fuente;
}

.contacto__textarea{ 
    border: $border;
    background-color: $backgroundColor;
    border-radius: $borderRadius;
    width: $maxAncho;
    margin: $margin;
    padding: $padding;
    box-sizing: border-box;
    font-size: $fuente;
    min-height: 100px;
    max-height: 200px;
}

#button{
    border: $border;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: $borderRadius;
    width: $maxAncho;
    padding: 10px 2px;
    font-size: 15px;
    text-transform: uppercase;
    &:hover{
        cursor: pointer;
    }
}


@media only screen and (min-width: 768px){
    .contacto__form{
        width: 700px;
    }
}

@media only screen and (min-width: 1024px) {

    .contacto{
        min-width: 1000px;
        min-height: 800px;
    }
    
    .contacto__titulo{
        font-size: 40px;
    }
    
    .contacto__input{
        font-size: $fuenteD;
    }
    
    .contacto__textarea{ 
       font-size: $fuenteD;
    }
    
    #button{
        font-size: $fuenteD;
    }
    
}
