@font-face {
    font-family: DINPro;
    src: url('../fonts/DINPro-Light.ttf');
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: DINPro;
}

.body--overflow{
    overflow: hidden;
}
