/*mixins M is for mobile T is for Tablet and D is por Desktop*/
@import "colores";

/*titulos*/

@mixin tituloM{
    font-size: 30px;
    font-weight: bold;
    color: $white;
    text-transform: uppercase;
}

@mixin tituloT{
    font-size: 40px;
}

@mixin tituloD{
    font-size: 50px;
}

/*Descripciones*/

@mixin descripcionM{
    width: 320px;
    color: $white;
    padding: 5px 3px;
    font-size: 16px;
}

@mixin descripcionT{
    width: 768px;
    font-size: 25px;
}

@mixin descripcionD{
    width: 1024px;
    font-size: 30px;
    padding: 12px 3px;
}