@import "mixin";
/*Obras*/

.container__obras{
    color: white;
    display: flex;
    flex-direction: column;
}


.obra{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.obra__presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.obra__titulo{
    @include tituloM;
    text-transform: uppercase;
}

.obra__imagen{
    height: 200px;
    width: 320px;
}

.obra__video{
    height: 200px;
    width: 320px;
}


  .text_part{
      display: none;
  }

  @media (max-width: 575px){
      .text_part{
      display: block;
  }
  .left_part{
      display: none;
  }
  }

@media only screen and (min-width: 768px){
    .obra{
        margin: 7px 0;
    }
    
    .obra__titulo{
        @include tituloT;
        margin-bottom: 5px;
    }
    
    .obra__imagen{
        height: 480px;
        width: 768px;
    }
    
    .obra__video{
        height: 480px;
        width: 768px;
    }
}

@media only screen and (min-width: 1024px){
    .obra__titulo{
        @include tituloD;
    }
    
    .obra__imagen{
        height: 576px;
        width: 922px;
    }
    
    .obra__video{
        height: 576px;
        width: 922px;
    }
}